@import "tailwindcss";
@plugin "daisyui";

* {
    font-family: "Google Sans", sans-serif;
}

.container-custom {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}